.row(ng-controller="ContentCtrl as content")
  .col-lg-12
    form(action="/api/addSlide" method="post" enctype="multipart/form-data")
      table.table.table-striped.table-responsive
        thead
          tr.table-title
            th.col-sm-1 Type
            th.col-sm-4 File
            th.col-sm-3 Duration
            th.col-sm-4 Tools
        tbody
          tr(ng-repeat="file in content.files" ng-class="{'grayed': file.hidden}")
            //Standard rows
            td {{file.type}}
            td {{file.name}}
            td(ng-if="file.type!='video'") {{file.duration}} seconds
            td(ng-if="file.type=='video'") Duration of Video
            td
              div.btn-group(role="group")
                button.btn.btn-default(type="button" ng-click="content.swap(file.id,-1)")
                  span.glyphicon.glyphicon-arrow-up
                button.btn.btn-default(type="button" ng-click="content.swap(file.id,1)")
                  span.glyphicon.glyphicon-arrow-down
                //
                   button.btn.btn-default(type="button")
                      span.glyphicon.glyphicon-edit
                button.btn.btn-default(type="button" ng-click="content.toggleVisible(file.id)" ng-class="{'active': file.hidden}")
                  span.glyphicon.glyphicon-eye-open(ng-if="!file.hidden")
                  span.glyphicon.glyphicon-eye-close(ng-if="file.hidden")
                button.btn.btn-default(type="button" ng-click="content.deleteFile(file.id)")
                  span.glyphicon.glyphicon-trash
          tr
            //The "New" row
            td New
            td
              button.btn.btn-default.btn-file(ng-class = "content.upload.style")
                div(ng-hide="content.upload.hasFile") Select file
                div(ng-show="content.upload.hasFile") {{content.upload.filename}}
                input(type="file" name="file" custom-on-change="uploadFile")
            td
              .input-group
                input.form-control(name="duration" placeholder="duration" type="number")
                .input-group-addon seconds
            td
              div.btn-group(role="group")
                input.btn.btn-default(type="submit" value="Submit")
    a(href="#" ng-click="content.showExtensions=!content.showExtensions") Show allowed file extensions
    .well.well-sm(ng-show="content.showExtensions")
      p
        |Images: .png, .jpg, .gif, .jpeg, .bmp
      p
        |Videos: .mp4, .webm