extends layout

block body
   .container
      .navbar.navbar-default(role="navigation")
         .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
               span.sr-only Toggle navigation
               span.icon-bar
               span.icon-bar
               span.icon-bar
            a.navbar-brand(href="#") SiseTV
         .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
               li
                  a(href="/admin/cc") Content Control
               li
                  a(href="/admin/admin") Admin Panel
            .navbar-text.navbar-right
               a(ng-href="/api/logout" target="_self") Log out
      - if (error!="")
         .alert.alert-dismissable.alert-danger
            button(type="button" class="close" data-dismiss="alert") ×
            p #{error}
      div(ng-controller="AppCtrl as app")
         div(ng-view)
   footer(clas="footer")
      .container
         hr
         .col-lg-6
            div Rasmus Saks & Al William Tammsaar
         .col-lg-6(class="text-right")
            div
               a(href="https://github.com/Rezonation/sisetv") Source code&nbsp;
               |released under MIT License