extends layout

block body
  form(method='POST', action='/auth/login')
    -if (error) {
    div #{error}
    -}
    div
      label Username:
      input(type='text', name='username', required)
    div
      label Password:
      input(type='password', name='password', required)
    div
      input(type='submit', value='Log In')