extends layout
block body
   .container
      br
      br
      .col-lg-6.col-lg-offset-3.panel.panel-default
         form(method='POST', action='/api/resetPassword')
            - if (error!="")
               .alert.alert-dismissable.alert-danger
               button(type="button" class="close" data-dismiss="alert") ×
               p #{error}
            h2 Reset password
            br
            h3 User: #{user}
            br
            .form-group
               label Old password:
               input.form-control(type='password', name='oldpassword', required)
            .form-group
               label New password:
               input.form-control(type='password', name='password', required)
            div
               button.btn.btn-default.pull-right(type='submit') Submit
            br
            br
            br