extends layout
block body
  .container
    br
    br
    .col-lg-6.col-lg-offset-3.panel.panel-default
      form(method='POST', action='/api/resetPassword')
        - if (error!="")
          .alert.alert-dismissable.alert-danger
            button(type="button" class="close" data-dismiss="alert") ×
            p #{error}
        h2 Reset password
        br
        p Your password needs to be reset before you can continue!
        h3 User: #{user}
        br
        .form-group
          label Old password:
          input.form-control(type='password', name='oldpassword', required)
        br
        .form-group
          label New password:
          input.form-control(type='password', name='newpassword', required)
        div
          button.btn.btn-default.pull-right(type='submit') Reset password
        br
        br
        br